fastapi
uvicorn
sqlalchemy
psycopg[binary]
pydantic
pydantic-settings
alembic
python-dotenv
httpx>=0.28.1
google-genai==2.20.0
groq==1.7.0
inngest==0.3.2
razorpay
anthropic

# Dev dependencies
pytest
pytest-asyncio
